/* @author Per-Niklas Longberg */
html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
}

/************************ Title ************************/

#title {
    position: relative;
    width: 75%;
    margin: auto;
    padding: 50px 0;
    height: 45px;
}

#title h1, h2, p {
    margin: 5px;
    color: white;
    height: 35px;
}

#title h1 {
    display: inline-block;
    float: left;
    margin-top: 17px;
    left: 0;
    font-size: 22px;
}

#title h2 {
    display: inline-block;
    float: right;
    width: 60%;
    text-align: right;
    margin-top: 19px;
    right: 0;
    font-size: 20px;
}

#about {
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: ease 0.6s;
    -o-transition: ease 0.6s;
    transition: ease 0.6s;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
}

#about:hover {
    -webkit-transition: ease 0.6s;
    -o-transition: ease 0.6s;
    transition: ease 0.6s;
    background-color: #D3D3D3;
    color: black;
    cursor: pointer;
}

/************************ Navigation ************************/

#navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    margin: 30px auto;
}

.catgButton {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    font-weight: bold;
    background-color: #383838;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 1px black;
    box-shadow: 0 1px 1px 1px black;
    padding: 13px 25px;
    margin: 10px auto;
}

.catgButton:hover  {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    background-color: #D3D3D3;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.pressed {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    background-color: #B23502;
    color: white;
    -webkit-box-shadow: 0 1px 1px 1px black;
    box-shadow: 0 1px 1px 1px black;
}

/************************ Gallery image grid ************************/

#gallery {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    width: 82%;
    padding: 20px;
    margin: 60px auto;
}

.row {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 1%;
}

.column {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    -webkit-box-flex: 31%;
    -ms-flex: 31%;
    flex: 31%;
    padding: 0 1%;
}

.box {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    margin-bottom: 6%;
    width: 100%;
    -webkit-box-shadow: 0 5px 5px black;
    box-shadow: 0 5px 5px black;
    overflow: hidden;
}

.box img {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: brightness(90%) grayscale(0%);
    filter: brightness(90%) grayscale(0%);
    width: 100%;
    vertical-align: middle;
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
}

.box img:hover {
    -webkit-filter: brightness(105%) grayscale(0);
    filter: brightness(105%) grayscale(0);
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/************************ Lightbox ************************/

#lightbox {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
}

#lightbox:hover {
    cursor: pointer;
}

#focus {
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    -webkit-box-shadow: 0 8px 20px 5px #080808;
    box-shadow: 0 8px 20px 5px #080808;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#lightbox p {
    position: fixed;
    -webkit-transition: ease 0.7s;
    -o-transition: ease 0.7s;
    transition: ease 0.7s;
    width: 100%;
    text-align: center;
    top: 1.25%;
    margin-bottom: 0;
}

.direction {
    position: absolute;
    width: 20px;
    height: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: none; /* DISABLED WHILE IN DEVELOPMENT */
}

#left {
    left: 2.5%;
    vertical-align: center;
}

#right {
    right: 2.5%;
    vertical-align: center;
}

/************************ Social media links ************************/

#some {
    display: block;
    position: fixed;
    max-width: 50px;
    top: 50%;
    right: 3%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.somebutton img {
    -webkit-filter: brightness(70%) grayscale(20%);
    filter: brightness(70%) grayscale(20%);
    -webkit-transition: ease 0.6s;
    -o-transition: ease 0.6s;
    transition: ease 0.6s;
    width: 40px;
    height: 40px;
    max-height: 50px;
    margin: 5px 0;
}

.somebutton img:hover {
    -webkit-filter: brightness(110%) grayscale(0%);
    filter: brightness(110%) grayscale(0%);
    -webkit-transition: ease 0.6s;
    -o-transition: ease 0.6s;
    transition: ease 0.6s;
}

/************************ About ************************/

.aboutText {
    display: block;
    color: white;
    margin: auto;
    margin-bottom: 40px;
    width: 80%;
    height: 100%;
    font-size: 16px;
}

.aboutText li {

}

/************************ Phones ************************/

@media only screen and (max-width: 500px) {
    body, #title {
        display: block;
        -webkit-transition: ease 0.7s;
        -o-transition: ease 0.7s;
        transition: ease 0.7s;
    }

    /********************** Title **********************/

    #title {
        width: 88%;
        margin: 5px auto;
        margin-bottom: 35px;
    }

    #title h1, h2, p {
        margin: 2px;
        height: auto;
    }

    #title h2 {
        font-size: 14px;
    }

    /********************** Navigation **********************/

    #navbar {
        width: 100%;
        margin: 30px 0;
    }

    .catgButton {
        text-align: center;
        width: 100%;
        padding: 10px;
        margin: 20px 1.75%;
        font-weight: bold;
        font-size: 1em;
    }

    .catgButton:hover {
        -webkit-transition: ease 0.7s;
        -o-transition: ease 0.7s;
        transition: ease 0.7s;
        background-color: #B23502;
        color: white;
    }

    /********************** Image gallery **********************/

    #gallery {
        -webkit-transition: ease 0.7s;
        -o-transition: ease 0.7s;
        transition: ease 0.7s;
        width: 100%;
        margin: 30px 0;
        padding: 0 0 60px 0;
    }

    .row {
        -webkit-transition: ease 0.7s;
        -o-transition: ease 0.7s;
        transition: ease 0.7s;
        margin: 0;
        padding: 0;
    }

    .box {
        -webkit-transition: ease 0.7s;
        -o-transition: ease 0.7s;
        transition: ease 0.7s;
        margin: 0;
        margin-bottom: 6%;
    }

    .box img {
        -webkit-filter: brightness(100%) grayscale(0%);
        filter: brightness(100%) grayscale(0%);
    }

    .box img:hover {
        -webkit-filter: brightness(100%) grayscale(0%);
        filter: brightness(100%) grayscale(0%);
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    /********************** Lightbox **********************/

    #lightbox img {
        width: 100%;
        height: auto;
        max-height: 600px;
    }

    /********************** Social media **********************/

    #some {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        top: auto;
        bottom: 1%;
        right: 1%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .somebutton img {
        bottom: 0;
        margin: 5px 0;
        -webkit-filter: brightness(100%) grayscale(0%);
        filter: brightness(100%) grayscale(0%);
    }
}