body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(40px, auto);;
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
}

#title {
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1;
    width: 70%;
    margin: auto;
    padding: 50px;
    height: 35px;
}

#title h1, h2, p {
    color: white;
    height: 35px;
}

#title h1 {
    font-size: 22px;
    grid-column: 2;
}

#title h2 {
    margin-top: 19px;
    font-size: 20px;
    grid-column: 5 / 7;
}

#title p {
    grid-row: 2;
    grid-column: 4 / 5;
}

#gallery {
    display: grid;
    grid-column: 1 / 7;
    width: 82%;
    padding: 20px;
    margin: 30px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}

.column {
    flex: 31%;
    padding: 0 1%;
}

.box {
    margin-bottom: 6%;
    width: 100%;
    box-shadow: 0 5px 5px black;
    overflow: hidden;
}

.box img {
    -webkit-transform: translate3d(0, 0, 0);
    filter: brightness(90%) grayscale(0%);
    width: 100%;
    vertical-align: middle;
    transition: ease 0.7s;
}

.box img:hover {
    filter: brightness(105%) grayscale(0);
    transition: ease 0.7s;
    transform: scale(1.1);
    cursor: pointer;
}

#boxoflight {
    -webkit-transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    transition: ease 0.6s;
}

#boxoflight:hover {
    cursor: pointer;
}

#boxoflight img {
    display: block;
    height: 90%;
    width: auto;
    margin: 1% auto;
    margin-top: 0;
    max-width: 90%;
    max-height: 90%;
    transition: ease 0.6s;
    box-shadow: 0 8px 20px 5px #080808;
}

#boxoflight p {
    width: 100%;
    text-align: center;
    top: 2%;
    margin-bottom: 0;
}

#insta, #insta img {
    filter: brightness(95%) grayscale(30%);
    transition: ease 0.6s;
    display: block;
    position: fixed;
    top: 50%;
    right: 3%;
    width: 40px;
    height: 40px;
    max-height: 6%;
    max-width: 3%;
}

#insta:hover, #insta img:hover {
    filter: brightness(110%) grayscale(0%);
    transition: ease 0.6s;
}