/* @author Per-Niklas Longberg */

body {
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
}

/************************ Title ************************/

#title {
    display: grid;
    grid-row: 1;
    width: 70%;
    margin: auto;
    padding: 50px;
    height: 35px;
    justify-content: space-evenly;
}

#title h1, h2, p {
    margin: 5px;
    color: white;
    height: 35px;
}

#title h1 {
    margin-top: 17px;
    font-size: 22px;
    grid-column: 1;
}

#title h2 {
    text-align: right;
    margin-top: 19px;
    font-size: 20px;
    grid-column: 2;
}

/************************ Navigation ************************/

#navbar {
    display: flex;
    width: 50%;
    align-content: space-evenly;
    margin: 30px auto;
}

#catgAll, #catgLand, #catgPort, #catgStreet {
    transition: ease 0.7s;
    width: fit-content;
    color: white;
    font-weight: bold;
    background-color: #383838;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px black;
    padding: 13px 25px;
    margin: 10px auto;
}

#catgAll:hover, #catgLand:hover, #catgPort:hover, #catgStreet:hover  {
    transition: ease 0.7s;
    background-color: #D3D3D3;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.pressed {
    transition: ease 0.7s;
    background-color: #D3D3D3;
    color: black;
    box-shadow: 0 1px 1px 1px black;
}

/************************ Gallery image grid ************************/

#gallery {
    transition: ease 0.7s;
    width: 82%;
    padding: 20px;
    margin: 60px auto;
}

.row {
    transition: ease 0.7s;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}

.column {
    transition: ease 0.7s;
    flex: 31%;
    padding: 0 1%;
}

.box {
    transition: ease 0.7s;
    margin-bottom: 6%;
    width: 100%;
    box-shadow: 0 5px 5px black;
    overflow: hidden;
}

.box img {
    -webkit-transform: translate3d(0, 0, 0);
    filter: brightness(90%) grayscale(0%);
    width: 100%;
    vertical-align: middle;
    transition: ease 0.7s;
}

.box img:hover {
    filter: brightness(105%) grayscale(0);
    transition: ease 0.7s;
    transform: scale(1.1);
    cursor: pointer;
}

/************************ Lightbox ************************/

#lightbox {
    transition: ease 0.7s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
}

#lightbox:hover {
    cursor: pointer;
}

#lightbox img {
    transition: ease 0.7s;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 8px 20px 5px #080808;
    transform: translate(-50%, -50%);
}

#lightbox p {
    transition: ease 0.7s;
    width: 100%;
    text-align: center;
    top: 2%;
    margin-bottom: 0;
}

/************************ Social media links ************************/

#insta, #insta img {
    filter: brightness(95%) grayscale(30%);
    transition: ease 0.6s;
    display: block;
    position: fixed;
    top: 50%;
    right: 3%;
    width: 40px;
    height: 40px;
    max-height: 50px;
    max-width: 50px;
}

#insta:hover, #insta img:hover {
    filter: brightness(110%) grayscale(0%);
    transition: ease 0.6s;
}

/************************ Phones ************************/

@media only screen and (max-width: 481px) {
    body, #title {
        display: block;
        transition: ease 0.7s;
    }

    /********************** Title **********************/

    #title {
        margin: 5px auto;
        margin-bottom: 35px;
    }

    #title h1, h2, p {
        margin: 2px;
        height: auto;
    }

    #title h2 {
        font-size: 13px;
    }

    /********************** Navigation **********************/

    #navbar {
        width: 90%;
        margin: 30px 0;
    }

    #catgAll, #catgLand, #catgPort, #catgStreet {
        width: 80%;
        font-weight: bold;
        font-size: 1em;
        padding: 13px 25px;
        margin: 10px 0;
    }

    /********************** Image gallery **********************/

    #gallery {
        transition: ease 0.7s;
        width: 100%;
        margin: 30px 0;
        padding: 0;
    }

    .row {
        transition: ease 0.7s;
        margin: 0;
        padding: 0;
    }

    .box {
        transition: ease 0.7s;
        margin: 0;
        margin-bottom: 6%;
    }

    .box img {
        filter: brightness(100%) grayscale(0%);
    }

    .box img:hover {
        filter: brightness(100%) grayscale(0%);
    }

    /********************** Lightbox **********************/

    #lightbox img {
        width: 100%;
        height: auto;
        max-height: 600px;
    }

    /********************** Social media **********************/

    #insta, #insta img {
        top: 6%;
        right: 5%;
        max-height: 35px;
        max-width: 35px;
        filter: brightness(100%) grayscale(0%);
    }
}

/*
#navbar {
    background-color: #00897b;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #26a69a;
}

nav a, nav p {
    display: block;
    padding: 10px 14px;
    line-height: 1.2em;
    color: white;
    text-decoration: none;
    transition: all 200ms ease-in;
}

nav p {
    margin: 0;
    cursor: default;
    background-image: url(../img/menu2.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
}

#navlist{
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-in-out;
}

nav ul li a:hover, header h1:hover {
    background-color: #004d40;
}

#navbar:hover #navlist, #navlist:hover {
    max-height: 300px;
}
 */